<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="static/pikme2.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
  <title>Answer</title>
</head>
<body>
  {% if errs %}
      {% for err in errs %}
          <h1 style="color:#a00000">err</h1>
      {% endfor %}
  {% endif %}

  <form action="/user-login" method="POST" autocomplete="off">
    <h1>Login</h1>

    <label for="username">Username</label>
    <input id="username" name="username" type="text" required autocomplete="username">

    <label for="password">Password</label>
    <input id="password" name="password" type="password" required autocomplete="current-password">

    <button type="submit">Log In</button>
  </form>
</body>
