<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="static/pikme2.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
  <title>Answer</title>
</head>
<body>
  <h1>Topic: {{ topic }}<h1><br>
  <h1>{{ question }}</h1>
  <form action="/answer-check" method="POST" autocomplete="off">
    {% if option_flag %}
      <div class="choice-group">
        {% for option in options %}
          <input type="radio" id="btn{{ loop.index }}" name="answer" value={{ option }} required>
          <label for="btn{{ loop.index }}">{{ option }}</label>
        {% endfor %}
      </div>
      <button type="submit">Answer</button>
    {% else %}
      <input type="hidden" name="question" value="{{ question }}">
      <input name="answer">
      <button type="submit">Answer</button>
    {% endif %}
  </form>
</body>
