<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="static/pikme2.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
  <title>Answer</title>
</head>
<body>
  <h1>Register</h1>
  {% if errs %}
      {% for err in errs %}
          <li style="color:#a00000">{{ err }}</li>
      {% endfor %}
  {% endif %}
  <form action="/user-register" method="POST" autocomplete="off">

    <label for="username">Username</label>
    <input id="username" name="username" type="text" required autocomplete="username">

    <label for="password">Password</label>
    <input id="password" name="password" type="password" required autocomplete="new-password">

    <button type="submit">Register</button>
  </form>
</body>
